body {
    margin: 0;
    background-color: #131314;
    color: white;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1e1f20;
    border-bottom: 1px solid #333;
}

.brand {
    font-weight: bold;
    font-size: 20px;
    color: #8ab4f8;
    cursor: pointer;
}

.post-card {
    background: #1e1f20;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #333;
}
